<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Buddy - User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <img src="/static/img/db_logo_blue.png" alt="db_logo" height="50">
            Dog Buddy
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="/dashboard" method="POST">
                        <button type="submit" class="btn btn-light">Home</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/myaccount" method="GET">
                        <button type="submit" class="btn btn-light">My Account</button>
                    </form>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#addadog">Add A Dog</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#createwalk">Create A Walk</button>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-light">Logout</button>
                    </form>
                </li>
            </ul>
            <span class="navbar-text text-info">
                We love dogs!
            </span>
        </div>
    </nav>

    <div class="container-fluid bg-info">
        <div class="row ml-5">
            <!-- {# anything in left side column goes here #} -->
            <div class="col-sm-4">
                {% for user in user_info %}
                <img src="{{ user.image }}" class="mt-5 ml-4" alt="user_picture" width="300">
                <div class="row ml-4">
                    <form class="form-inline my-2 my-lg-0" action="/setdefault" method="POST">
                        <button class="btn btn-info btn-sm">Set Default</button>
                    </form>
                    <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addaphoto">Upload From URL</button>
                </div>
                {% endfor %}
                <h2 class="border-top">Your Dogs</h2>
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if your_dogs %}
                    {% for onedog in your_dogs %}
                        <td>
                            <form action="/dog/{{ onedog.id }}" method="POST">
                                <input type="hidden" name="view_dog_id_value" value="{{ onedog.id }}">
                                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top" title="Click to View More Information About {{ onedog.dog_name }}">{{ onedog.dog_name }}</button>
                            </form>
                        </td>
                        <td>{{ onedog.breed }}</td>
                        <td>{{ onedog.gender }}</td>
                        <td>{{ onedog.age }}</td>
                    </tbody>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
            <!-- {# end of left side div #} -->

            <!-- {# anything in right side column goes here #} -->
            <div class="col-sm-8">
                <h1 class="m-5">Welcome Back {{ login_name }}!</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-white">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <h4 class="mb-3">Your Walks:</h4>
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Dog(s)</th>
                        <th scope="col">When</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if your_walks %}
                    {% for one_walk in your_walks %}
                        <tr>
                        <th scope="row">
                            <form action="/view_walk/{{ one_walk[0].id }}" method="POST">
                                <input type="hidden" name="view_walk_id_value" value="{{ one_walk[0].id }}">
                                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top" title="Click to View More Information About {{ one_walk[0].location }}">{{ one_walk[0].location }}</button>
                            </form>
                        </th>
                        <td>{{ one_walk[0].dogs }}</td>
                        <td>{{ one_walk[0].date }}</td>
                        <td>{{ one_walk[0].time }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <form action="/cancel_walk" method="POST">
                                    <input type="hidden" name="cancelled_walk_value" value="{{ one_walk[0].id }}">
                                    <button class="btn btn-danger btn-sm">Cancel Walk</button>
                                </form>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                    {% endif %}

                    {% if your_joined_walks %}
                    {% for joined_walk in your_joined_walks %}
                    <tr>
                        <td>
                            <form action="/travels/destination/{{ joined_walk[1].id }}" method="POST">
                                <input type="hidden" name="view_walk_id_value" value="{{ joined_walk[1].id }}">
                                <button class="btn btn-link btn-sm">{{ joined_walk[1].location }}</button>
                            </form>
                        </td>
                        <td>{{ joined_walk[1].dogs }}</td>
                        <td>{{ joined_walk[1].date }}</td>
                        <td>{{ joined_walk[1].time }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <form action="/leave_walk" method="POST">
                                    <input type="hidden" name="leave_walk_value" value="{{ joined_walk[1].id }}">
                                    <input type="hidden" name="your_id" value="{{ login_id }}">
                                    <button class="btn btn-danger btn-sm">Leave Walk</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

                <!-- {# <h4 class="mb-3">Your Past Walks:</h4>
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Dog(s)</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% if your_walks %}
                    {% for one_walk in your_walks %}
                    {% if {{ one_walk[0].date }} != {{ past }} %}
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </table> #} -->

                <button type="button" class="btn btn-light text-info" data-toggle="modal" data-target="#createwalk">Create A Walk</button>
                <hr>
                <h4 class="mt-5 mb-3">Join A Walk:</h4>
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Dog(s)</th>
                        <th scope="col">Date</th>
                        <th scope="col">Join This Walk</th>
                        </tr>
                    </thead>
                    {% if other_walks %}
                    {% for walk in other_walks %}
                    <tbody>
                        <tr>
                        <td>
                            <form action="/view_walk/{{ walk[0].id }}" method="POST">
                                <input type="hidden" name="view_walk_id_value" value="{{ walk[0].id }}">
                                <button class="btn btn-link btn-sm">{{ walk[0].location }}</button>
                            </form>
                        </td>
                        <td>{{ walk[0].dogs }}</td>
                        <td>{{ walk[0].date}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <form action="/join_walk" method="POST">
                                    <input type="hidden" name="join_walk_value" value="{{ walk[0].id }}">
                                    <input type="hidden" name="your_id" value="{{ login_id }}">
                                    <button class="btn btn-info btn-sm">Join This Walk</button>
                                </form>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% endif %}
                </table>
            </div> 
            <!-- {# end of column div above this line #} -->
        </div> 
        <div class="row bg-light mt-5">
            <span><small> © 2019 DOG BUDDY </small></span>
        </div>

        <!-- {# pop up for create a walk #} -->
        <div class="modal fade" id="createwalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create A Walk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/add_walk" method="POST" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Location</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="location" placeholder="Location" required>
                            <div class="invalid-feedback">
                                Please add a location.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Date</label>
                            <input type="date" class="form-control text-info" id="validationCustom01" name="walk_date" required>
                            <div class="invalid-feedback">
                                Please choose a date.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Time</label>
                            <input type="time" class="form-control text-info" id="validationCustom01" name="walk_time" required>
                            <div class="invalid-feedback">
                                Please choose a time.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Dog(s)</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="dogs" required>
                            <div class="invalid-feedback">
                                Please enter a first name.
                            </div>
                        </div>
                        <div class="col-md-10 mb-3">
                            <label for="validationCustom01">Comments About Walk For Other Buddies</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="walk_info" placeholder="We are going on a big hike." required>
                            <div class="invalid-feedback">
                                Please enter a valid description.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" name="user_id" value="{{ login_id }}">
                        <button class="btn btn-primary">Save Walk</button>
                    </div>
                </form>

                </div>
            </div>
        </div>

        <!-- {# pop up for add a dog #} -->
        <div class="modal fade" id="addadog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add A Dog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/addadog" method="POST" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Name</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="dog_name" placeholder="Name" required>
                            <div class="invalid-feedback">
                                Please add name.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Breed</label>
                            <input type="type" class="form-control text-info" id="validationCustom01" name="breed" placeholder="Pug" required>
                            <div class="invalid-feedback">
                                Please add a breed.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Age</label>
                            <input type="type" class="form-control text-info" id="validationCustom01" name="age" placeholder="10" required>
                            <div class="invalid-feedback">
                                Please add an age.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Gender</label>
                            <select id="gender" name="gender" class="form-control text-info" required>
                                <option value="">Choose...</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a gender.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Eye Color</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="eye_color" placeholder="Eye Color" required>
                            <div class="invalid-feedback">
                                Please enter an eye color.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Fur Color</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="fur_color" placeholder="Fur Color" required>
                            <div class="invalid-feedback">
                                Please enter a fur color.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Fur Type</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="fur_type" placeholder="Fur Type" required>
                            <div class="invalid-feedback">
                                Please enter a fur type.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Allergies</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="allergies" placeholder="Allergic to chicken" required>
                            <div class="invalid-feedback">
                                Please enter allergies or type None.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Brief Bio (favorite food, toy...)</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="brief_bio" placeholder="Kobe Beef and socks." required>
                            <div class="invalid-feedback">
                                Please enter a brief bio.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" name="user_id" value="{{ login_id }}">
                        <button type="submit" class="btn btn-primary">Add Dog</button>
                    </div>
                </form>

                </div>
            </div>
        </div>

        <!-- {# pop up to change photo #} -->
        <div class="modal fade" id="addaphoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add A Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We recommend using a photo service like <a href="https://imgur.com">Imgur</a> to change your profile picture.</p>
                    <p>Right click on photo and select 'Copy image address'.</p>
                    <p><em>Example: https://i.imgur.com/WD8dqnC.jpg</em></p>
                    <form class="form-inline my-2 my-lg-0" action="/upload_url" method="POST" class="needs-validation" novalidate>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Image URL:</label>
                        <input type="type" class="form-control text-info" id="validationCustom01" name="change_photo" placeholder="Example: https://i.imgur.com/WD8dqnC.jpg" required>
                        <div class="invalid-feedback">
                            Please add a url or set photo back to default.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-info btn-sm">Upload</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
<script>
    (function() {
    'use strict';
    window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
    });
    }, false);
})();
</script>
</body>
</html>