<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Buddy - My Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <img src="/static/img/db_logo_blue.png" alt="db_logo" height="50">
            Dog Buddy
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="/dashboard" method="POST">
                        <button type="submit" class="btn btn-light">Home</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/myaccount" method="POST">
                        <button type="submit" class="btn btn-light">My Account</button>
                    </form>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#addadog">Add A Dog</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#createwalk">Create A Walk</button>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-light">Logout</button>
                    </form>
                </li>
            </ul>
            <span class="navbar-text text-info">
                We love dogs!
            </span>
        </div>
    </nav>

    <div class="container-fluid bg-info">
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-white m-5">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <h2 class="ml-5 mt-5">Edit Account Information</h2>
            <form action="/editaccount" method="POST" class="needs-validation m-5 ml-5 mr-5" novalidate>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="first_name" placeholder="{{ first_name }}" value="{{ first_name }}" required>
                    <div class="invalid-feedback">
                        Please enter a first name.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control text-info" id="validationCustom02" name="last_name" placeholder="{{ last_name }}" value="{{ last_name }}" required>
                    <div class="invalid-feedback">
                        Please enter a last name.
                    </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Email</label>
                    <input type="text" class="form-control text-info" id="validationCustom03" name="email" placeholder="{{ email }}" value="{{ email }}" required>
                    <div class="invalid-feedback">
                    Please enter a valid email adddress.
                    </div>
                    </div>
                    <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Phone Number</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="phone_number" placeholder="{{ phone_number }}" value="{{ phone_number }}" required>
                    <div class="invalid-feedback">
                        Please enter a birthday.
                    </div>
                    </div>
                    <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Birthday</label>
                    <input type="date" class="form-control text-info" id="validationCustom01" name="birthday" placeholder="{{ birthday }}" value="{{ birthday }}" required>
                    <div class="invalid-feedback">
                        Please enter a birthday.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Password</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="password" placeholder="Password" aria-describedby="passwordHelpBlock" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Confirm Password</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="confirm_password" placeholder="Confirm Password" aria-describedby="passwordHelpBlock" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="login_id" value="{{ login_id }}">
                    <button class="btn btn-light text-info" type="submit">Edit Account Information</button>
                </div>
            </form>
        </div>

        <div class="row">
            <h2 class="ml-5 mt-5">Edit Dog(s) Information</h2>
            {% for dog in your_dogs %}
            
            <form action="/editdog" method="POST" class="needs-validation mt-5 ml-5 mr-5" novalidate>
                <h4>{{ dog.dog_name }}</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Name</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="dog_name" placeholder="{{ dog.dog_name }}" value="{{ dog.dog_name }}" required>
                    <div class="invalid-feedback">
                        Please enter a Name.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Breed</label>
                    <input type="text" class="form-control text-info" id="validationCustom02" name="breed" placeholder="{{ dog.breed }}" value="{{ dog.breed }}" required>
                    <div class="invalid-feedback">
                        Please enter a breed.
                    </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                    <label for="validationCustomUsername">Age</label>
                    <input type="text" class="form-control text-info" id="validationCustom03" name="age" placeholder="{{ dog.age }}" value="{{ dog.age }}"required>
                    <div class="invalid-feedback">
                    Please enter an age.
                    </div>
                    </div>
                    <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Gender</label>
                    <select id="gender" name="gender" class="form-control text-info" required>
                        <option value="">Choose...</option>
                        <option selected="{{ dog.gender }}">{{ dog.gender }}</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a gender.
                    </div>
                    </div>
                    <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Eye Color</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="eye_color" placeholder="{{ dog.eye_color }}" value="{{ dog.eye_color }}" required>
                    <div class="invalid-feedback">
                        Please enter an eye color.
                    </div>
                    </div>
                    <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Fur Color</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="fur_color" placeholder="{{ dog.fur_color }}" value="{{ dog.fur_color }}" required>
                    <div class="invalid-feedback">
                        Please enter a fur color.
                    </div>
                    </div>
                    <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Fur Type</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="fur_type" placeholder="{{ dog.fur_type }}" value="{{ dog.fur_type }}" required>
                    <div class="invalid-feedback">
                        Please enter a fur type.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Allergies</label>
                    <input type="type" class="form-control text-info" id="validationCustom01" name="allergies" placeholder="{{ dog.allergies }}" value="{{ dog.allergies }}" required>
                    <div class="invalid-feedback">
                        Please enter allergies or type None.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Brief Bio</label>
                    <input type="text" class="form-control text-info" id="validationCustom01" name="brief_bio" placeholder="{{ dog.brief_bio }}" value="{{ dog.brief_bio }}" required>
                    <div class="invalid-feedback">
                        Please enter a short bio.
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light text-info" type="submit">Edit {{ dog.dog_name }}'s Information</button>
                    <input type="hidden" name="dog_id" value="{{ dog.id }}">
                </div>
            </form>
            
            <button type="button" class="btn btn-light text-info ml-5 mt-n5" data-toggle="modal" data-target="#delete_dog">Delete {{ dog.dog_name }}'s Information</button>

            <!-- {# pop up for delete dog #} -->
            <div class="modal" tabindex="-1" role="dialog" id="delete_dog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure you want to delete {{ dog.dog_name }}'s information?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <form action="/delete_a_dog" method="POST">
                            <button class="btn btn-danger" type="submit">Delete {{ dog.dog_name }}'s Information</button>
                            <input type="hidden" name="dog_id" value="{{ dog.id }}">
                            <input type="hidden" name="dog_name" value="{{ dog.dog_name }}">
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row bg-light mt-5">
            <span><small> © 2019 DOG BUDDY </small></span>
        </div>

        <!-- {# pop up for create a walk #} -->
        <div class="modal fade" id="createwalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create A Walk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/add_walk" method="POST" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Location</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="location" placeholder="Location" required>
                            <div class="invalid-feedback">
                                Please add a location.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Date</label>
                            <input type="date" class="form-control text-info" id="validationCustom01" name="walk_date" required>
                            <div class="invalid-feedback">
                                Please choose a date.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Time</label>
                            <input type="time" class="form-control text-info" id="validationCustom01" name="walk_time" required>
                            <div class="invalid-feedback">
                                Please choose a time.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Dog(s)</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="dogs" required>
                            <div class="invalid-feedback">
                                Please enter a first name.
                            </div>
                        </div>
                        <div class="col-md-10 mb-3">
                            <label for="validationCustom01">Comments About Walk For Other Buddies</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="walk_info" placeholder="We are going on a big hike." required>
                            <div class="invalid-feedback">
                                Please enter a valid description.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" name="user_id" value="{{ login_id }}">
                        <button class="btn btn-primary">Save Walk</button>
                    </div>
                </form>

                </div>
            </div>
        </div>

        <!-- {# pop up for add a dog #} -->
        <div class="modal fade" id="addadog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add A Dog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/addadog" method="POST" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Name</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="dog_name" placeholder="Name" required>
                            <div class="invalid-feedback">
                                Please add name.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Breed</label>
                            <input type="type" class="form-control text-info" id="validationCustom01" name="breed" placeholder="Pug" required>
                            <div class="invalid-feedback">
                                Please add a breed.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Age</label>
                            <input type="type" class="form-control text-info" id="validationCustom01" name="age" placeholder="10" required>
                            <div class="invalid-feedback">
                                Please add an age.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Gender</label>
                            <select id="gender" name="gender" class="form-control text-info" required>
                                <option value="">Choose...</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a gender.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Eye Color</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="eye_color" placeholder="Eye Color" required>
                            <div class="invalid-feedback">
                                Please enter an eye color.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Fur Color</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="fur_color" placeholder="Fur Color" required>
                            <div class="invalid-feedback">
                                Please enter a fur color.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Fur Type</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="fur_type" placeholder="Fur Type" required>
                            <div class="invalid-feedback">
                                Please enter a fur type.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Allergies</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="allergies" placeholder="Allergic to chicken" required>
                            <div class="invalid-feedback">
                                Please enter allergies or type None.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Brief Bio (favorite food, toy...)</label>
                            <input type="text" class="form-control text-info" id="validationCustom01" name="brief_bio" placeholder="Kobe Beef and socks." required>
                            <div class="invalid-feedback">
                                Please enter a brief bio.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" name="user_id" value="{{ login_id }}">
                        <button class="btn btn-primary">Add Dog</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
        });
        }, false);
    })();
</script>
</body>
</html>