<!-- your dogs list //I commented the ifs and fors (not tested yet)-->
    <div class="container">
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}   -->
        <h2>Your Dogs:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Breed</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% if your_dog %}
                {% for dog in your_dog %}  -->
                <tr>
                    <td>
                        <form action="/dog/{{ dog[0].id }}" method="POST">
                            <input type="hidden" name="view_dog_id_value" value="{{ dog[0].id }}">
                            <button class="btn btn-link">{{ dog[0].view }}</button>
                        </form>
                    </td>
                    <!-- <td>{{ dog[0].dog_name }}</td>
                    <td>{{ dog[0].breed }}</td> -->
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form action="/remove" method="POST">
                                <input type="hidden" name="remove_dog_value" value="{{ dog[0].id }}">
                                <button class="btn btn-danger">remove</button>
                            </form>
                        </div>
                    </td>
                </tr>
                <!-- {% endfor %}
                {% endif %} -->
            </tbody>
        </table>
        <!-- <h5>Note: You may click on your dog's name to view more information.</h5> -->
    </div>
    
    <div class="container">
        <h2>Other Users' Travel Plans:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Destination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Do You Want to Join?</th>
                </tr>
            </thead>
            <tbody>
                {% if other_trips %}
                {% for trip in other_trips %}
              
                <tr>
                    <td>{{ trip[1].first_name }} {{ trip[1].last_name }}</td>
                    <td>
                        <form action="/travels/destination/{{ trip[0].id }}" method="POST">
                        <input type="hidden" name="view_trip_id_value" value="{{ trip[0].id }}">
                        <button class="btn btn-link">{{ trip[0].destination }}</button>
                        </form>
                    </td>
                    <td>{{ trip[0].travel_start_date }}</td>
                    <td>{{ trip[0].travel_end_date }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form action="/join_trip" method="POST">
                                <input type="hidden" name="join_trip_value" value="{{ trip[0].id }}">
                                <input type="hidden" name="your_id" value="{{ login_id }}">
                                <button class="btn btn-info">Join Trip</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tr>
              
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <div class="btn-group info" role="group" aria-label="Basic example">
            <form action="/travels/add" method="POST">
                <button class="btn btn-success"> Add a Trip </button>
            </form>
        </div>

        <div class="col">
                <div class="row">
                    <h2>Your Upcoming Walks:</h2>
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Destination</th>
                                <th scope="col">Travel Start Date</th>
                                <th scope="col">Travel End Date</th>
                                <th scope="col">Plan</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if your_trips %}
                                {% for trip in your_trips %} 
                                <tr>
                                    <td>
                                        <form action="/travels/destination/{{ trip[0].id }}" method="POST">
                                            <input type="hidden" name="view_trip_id_value" value="{{ trip[0].id }}">
                                            <button class="btn btn-link">{{ trip[0].destination }}</button>
                                        </form>
                                    </td>
                                    <td>{{ trip[0].travel_start_date }}</td>
                                    <td>{{ trip[0].travel_end_date }}</td>
                                    <td>{{ trip[0].travel_plan }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <form action="/cancel_trip" method="POST">
                                                <input type="hidden" name="cancelled_trip_value" value="{{ trip[0].id }}">
                                                <button class="btn btn-danger">Cancel Trip</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                
                                {% if your_joined_trips %}
                                {% for joined_trip in your_joined_trips %}
                                <tr>
                                    <td>
                                        <form action="/travels/destination/{{ joined_trip[1].id }}" method="POST">
                                            <input type="hidden" name="view_trip_id_value" value="{{ joined_trip[1].id }}">
                                            <button class="btn btn-link">{{ joined_trip[1].destination }}</button>
                                        </form>
                                    </td>
                                    <td>{{ joined_trip[1].travel_start_date }}</td>
                                    <td>{{ joined_trip[1].travel_end_date }}</td>
                                    <td>{{ joined_trip[1].travel_plan }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <form action="/leave_trip" method="POST">
                                                <input type="hidden" name="leave_trip_value" value="{{ joined_trip[1].id }}">
                                                <input type="hidden" name="your_id" value="{{ login_id }}">
                                                <button class="btn btn-danger">Leave Trip</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                    </table>
                </div>
                <div class="row">
                        <h2>Your Upcoming Walks:</h2>
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Travel Start Date</th>
                                    <th scope="col">Travel End Date</th>
                                    <th scope="col">Plan</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if your_trips %}
                                    {% for trip in your_trips %} 
                                    <tr>
                                        <td>
                                            <form action="/travels/destination/{{ trip[0].id }}" method="POST">
                                                <input type="hidden" name="view_trip_id_value" value="{{ trip[0].id }}">
                                                <button class="btn btn-link">{{ trip[0].destination }}</button>
                                            </form>
                                        </td>
                                        <td>{{ trip[0].travel_start_date }}</td>
                                        <td>{{ trip[0].travel_end_date }}</td>
                                        <td>{{ trip[0].travel_plan }}</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <form action="/cancel_trip" method="POST">
                                                    <input type="hidden" name="cancelled_trip_value" value="{{ trip[0].id }}">
                                                    <button class="btn btn-danger">Cancel Trip</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                    
                                    {% if your_joined_trips %}
                                    {% for joined_trip in your_joined_trips %}
                                    <tr>
                                        <td>
                                            <form action="/travels/destination/{{ joined_trip[1].id }}" method="POST">
                                                <input type="hidden" name="view_trip_id_value" value="{{ joined_trip[1].id }}">
                                                <button class="btn btn-link">{{ joined_trip[1].destination }}</button>
                                            </form>
                                        </td>
                                        <td>{{ joined_trip[1].travel_start_date }}</td>
                                        <td>{{ joined_trip[1].travel_end_date }}</td>
                                        <td>{{ joined_trip[1].travel_plan }}</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <form action="/leave_trip" method="POST">
                                                    <input type="hidden" name="leave_trip_value" value="{{ joined_trip[1].id }}">
                                                    <input type="hidden" name="your_id" value="{{ login_id }}">
                                                    <button class="btn btn-danger">Leave Trip</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                        </table>
                </div>
            </div>